/* Estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
a,
button {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-size: 16px;
  overflow-x: hidden;
}

/* Estilos do header */
header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header img {
  width: 10%;
  margin: 1em;
}

/* Estilos da seção intro */
section.intro {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section.intro .ilustration {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.intro div {
  width: 210px;
  position: absolute;
  top: 70%;
  left: 37%;
  transform: translate(-70%, -37%);
}

section.intro p {
  color: #fff;
  line-height: 24px;
  font-weight: 800;
}

section.intro a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1820ef;
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 900;
  border: none;
  border-radius: 50px;
  padding: 0 15px;
  width: 213px;
  height: 60px;
  cursor: pointer;
  margin-top: 1.75em;
  text-decoration: none;
}

section.intro a:hover {
  transform: scale(1.1);
  transition: transform 1s;
}

/* Estilos da seção orders */
section.orders {
  width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.orders .base {
  width: 80vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

section.orders .base .text h1 {
  font-size: 32px;
  font-weight: 900;
}

section.orders .base .text p {
  font-weight: 500;
}

/* Carrossel (apenas em telas menores) */
section.orders .options.mobile {
  width: 80vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* overflow-x: auto; */
}

section.orders .options.desktop {
  display: none;
}

section.orders .base .options .box {
  width: 300px;
  height: 300px;
  border-radius: 1em;
  background-color: #fafaed;
  padding: 1em;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px; /* Espaçamento entre os boxes */
}

section.orders .base .options .box label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

section.orders .base .options .box h3 {
  color: #1820ef;
  font-size: 20px;
  font-weight: 800;
}

section.orders .base .options .box p {
  font-size: 14px;
  font-weight: 500;
}

section.orders .base .options .box span {
  color: #ff4e42;
  font-size: 20px;
  font-weight: 800;
}

section.orders .base .options .box {
  transition: background-color 0.3s, color 0.3s;
}

section.orders .base .options .box.selected {
  background-color: #1820ef;
}

section.orders .base .options .box.selected h3,
section.orders .base .options .box.selected p {
  color: #ffffff;
}

section.orders .base .options .box.selected span {
  color: #ffc024;
}

button#submitButton.inactive {
  background-color: #c5c5c5;
  color: #fff;
  cursor: not-allowed;
}

button#submitButton.inactive img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

button#submitButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1820ef;
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 900;
  border: none;
  border-radius: 50px;
  padding: 0 15px;
  width: 213px;
  height: 60px;
  cursor: pointer;
  margin-bottom: 2em;
  margin-top: 2em;
  text-decoration: none;
}

button#submitButton:hover {
  transform: scale(1.1);
  transition: transform 1s;
}

button#submitButton.inactive:hover {
  transform: scale(1.0);
}

/* Modal */
.modal {
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  /* overflow: auto; */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  overflow-x: hidden;
}

.modal-content {
  background-color: #fefefe;
  margin: 0 auto;
  border: 1px solid #888;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content .logo {
  width: 10em;
  position: absolute;
  top: 1em;
  left: 1em;
}

.modal-content .right p{
  margin-bottom: 1em;
}

button#newOrderButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1820ef;
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 900;
  border: none;
  border-radius: 50px;
  padding: 0 15px;
  width: 213px;
  height: 60px;
  cursor: pointer;
  text-decoration: none;
}

.modal-content .right,
.modal-content .left {
  width: 50%;
  height: 100%;
  padding: 0 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.modal-content .left {
  background-image: url("../img/bg-modal.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-content .left #orderImage {
  width: 65%;
}

.modal-content .left div {
  width: 300px;
}

.modal-content .right h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
  color: #ff4e42;
  margin: 0.5em 0;
}

.modal-content .left h2 {
  font-size: 20px;
  color: #fff;
  line-height: 24px;
  font-weight: 800;
}

.modal-content .left p {
  font-size: 32px;
  color: #ffc024;
  font-weight: 800;
}

.no-scroll {
  overflow: hidden;
}

/* Loading */
.loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
}

.spinner {
  margin: 15% auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Estilos para o carrossel */
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.carousel-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

.carousel-inner .box {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.carousel-dots .dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #E0DBBF;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-dots .dot.active {
  background-color: #FF4E42;
  border-radius: 8px;
  width: 36px;
  height: 10px;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  section.orders .options.desktop {
    display: none;
  }
  section.orders .options.mobile {
    display: block;
  }

  .modal-content .right, .modal-content .left{
    padding: 1em;
  }
  
  section.intro {
    background: url("../img/bg-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 677px;
  }
  section.intro header{
    justify-content: center;
  }
  section.intro header img {
    width: 40%;
}
  section.intro .ilustration{
    width: 65%;
    top: 43%;
    left: 52%;
  }

  section.intro div{
    width: 300px;
    top: 85%;
    left: 65%;
    text-align: center;
  }

  section.intro div a{
  display: none;
  }

  section.orders{
    height: 1445px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  section.orders .base .text{
    margin-bottom: 1em;
  }
  section.orders .base{
    margin-top: 5em;
  }
  section.orders .base .options .box{
    height: 352px;
    width: 288px;
  }

section.orders .options.mobile{
  min-height: 388px;
}

.modal{
  width: 100%;
  height: 100%;
  overflow-y: visible;
}
.modal-content{
  flex-direction: column;
  width: 100%;
  height: 1200px;
}

.modal-content .logo{
  left: 32%;
}

.modal-content .left #orderImage{
  width: 80%;
}

.modal-content .right, .modal-content .left{
  width: 100%;
}
}

@media (min-width: 769px) {

  section.orders .options.mobile {
    display: none;
  }

  section.orders .options.desktop {
    display: flex;
  }
}
